
#platillo-detalle{
    padding: 5% 25%;
}

#platillo-detalle-destacado{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

#platillo-imagen-destacada{
    text-align: left;
    border-radius: 5px;
}


#platillo-imagen-destacada>img{
    border-radius: 20px;
}


