<section id="platillo-detalle" *ngIf="entityPlatillo!= undefined">
    <section id="platillo-detalle-destacado">
        <section id="platillo-imagen-destacada">
            <img src="{{entityPlatillo.meals[0].strMealThumb}}" width="350px" height="350px">
        </section>
        <section>
            <h1>🥪 {{entityPlatillo.meals[0].strMeal}}</h1>
            <ul>
                <li>idMeal: {{entityPlatillo.meals[0].idMeal}}</li>
                <li>strCategory: {{entityPlatillo.meals[0].strCategory}}</li>
                <li>strArea: {{entityPlatillo.meals[0].strArea}}</li>
                <li>strDrinkAlternate: {{entityPlatillo.meals[0].strDrinkAlternate}}</li>
                <li>strTags: {{entityPlatillo.meals[0].strTags}}</li>
            </ul>
            <a href="{{entityPlatillo.meals[0].strYoutube}}" target="_blank"><button> Ver en YouTube</button></a>
        </section>
    </section>
    <br><br>
    <section id="platillo-detalle-completo">
        <h2>🖐 Instrucciónes:</h2>
        <p>
            {{entityPlatillo.meals[0].strInstructions}}
        </p>
        <br><br>
        <h2>🌽 Ingredientes:</h2>
        <ul>
            <li>strIngredient1: {{entityPlatillo.meals[0].strIngredient1}}</li>
            <li>strIngredient2: {{entityPlatillo.meals[0].strIngredient2}}</li>
            <li>strIngredient3: {{entityPlatillo.meals[0].strIngredient3}}</li>
            <li>strIngredient4: {{entityPlatillo.meals[0].strIngredient4}}</li>
            <li>strIngredient5: {{entityPlatillo.meals[0].strIngredient5}}</li>
            <li>strIngredient6: {{entityPlatillo.meals[0].strIngredient6}}</li>
            <li>strIngredient7: {{entityPlatillo.meals[0].strIngredient7}}</li>
            <li>strIngredient8: {{entityPlatillo.meals[0].strIngredient8}}</li>
            <li>strIngredient9: {{entityPlatillo.meals[0].strIngredient9}}</li>
            <li>strIngredient10: {{entityPlatillo.meals[0].strIngredient10}}</li>
            <li>strIngredient11: {{entityPlatillo.meals[0].strIngredient11}}</li>
            <li>strIngredient12: {{entityPlatillo.meals[0].strIngredient12}}</li>
            <li>strIngredient13: {{entityPlatillo.meals[0].strIngredient13}}</li>
            <li>strIngredient14: {{entityPlatillo.meals[0].strIngredient14}}</li>
            <li>strIngredient15: {{entityPlatillo.meals[0].strIngredient15}}</li>
            <li>strIngredient16: {{entityPlatillo.meals[0].strIngredient16}}</li>
            <li>strIngredient17: {{entityPlatillo.meals[0].strIngredient17}}</li>
            <li>strIngredient18: {{entityPlatillo.meals[0].strIngredient18}}</li>
            <li>strIngredient19: {{entityPlatillo.meals[0].strIngredient19}}</li>
            <li>strIngredient20: {{entityPlatillo.meals[0].strIngredient20}}</li>
            <li>strMeasure1: {{entityPlatillo.meals[0].strMeasure1}}</li>
            <li>strIngredient1: {{entityPlatillo.meals[0].strIngredient1}}</li>
            <li>strMeasure2: {{entityPlatillo.meals[0].strMeasure2}}</li>
            <li>strMeasure3: {{entityPlatillo.meals[0].strMeasure3}}</li>
            <li>strMeasure4: {{entityPlatillo.meals[0].strMeasure4}}</li>
            <li>strMeasure6: {{entityPlatillo.meals[0].strMeasure6}}</li>
            <li>strMeasure7: {{entityPlatillo.meals[0].strMeasure7}}</li>
            <li>strMeasure8: {{entityPlatillo.meals[0].strMeasure8}}</li>
            <li>strMeasure9: {{entityPlatillo.meals[0].strMeasure9}}</li>
            <li>strMeasure10: {{entityPlatillo.meals[0].strMeasure10}}</li>
            <li>strMeasure11: {{entityPlatillo.meals[0].strMeasure11}}</li>
            <li>strMeasure12: {{entityPlatillo.meals[0].strMeasure12}}</li>
            <li>strMeasure13: {{entityPlatillo.meals[0].strMeasure13}}</li>
            <li>strMeasure14: {{entityPlatillo.meals[0].strMeasure14}}</li>
            <li>strMeasure15: {{entityPlatillo.meals[0].strMeasure15}}</li>
            <li>strMeasure16: {{entityPlatillo.meals[0].strMeasure16}}</li>
            <li>strMeasure17: {{entityPlatillo.meals[0].strMeasure17}}</li>
            <li>strMeasure18: {{entityPlatillo.meals[0].strMeasure18}}</li>
            <li>strMeasure19: {{entityPlatillo.meals[0].strMeasure19}}</li>
            <li>strMeasure20: {{entityPlatillo.meals[0].strMeasure20}}</li>
            <li>strSource: {{entityPlatillo.meals[0].strSource}}</li>
            <li>strImageSource: {{entityPlatillo.meals[0].strImageSource}}</li>
            <li>strCreativeCommonsConfirmed: {{entityPlatillo.meals[0].strCreativeCommonsConfirmed}}</li>
            <li>dateModified: {{entityPlatillo.meals[0].dateModified}}</li>
        </ul>
    </section>

</section>
