#platillos-descripcion{
    padding: 5% 25% 2% 25%;
    text-align: center;
}

#platillos-filtros{
    margin: 2% 15% 1% 10%;
    padding: 20px 20px;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 40% 60%;

}

#filtros_porNombre{
    text-align: center;
}

#filtros_porPrimeraLetra{
    text-align: right;
}

#platillos-tabla{
    margin: 1% 10% 5% 10%;
}